/* app css stylesheet */

body {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.formItem {
    margin-bottom: 10px;
}

.label {
    font-size: 100%;
}

.form-label {
    padding-left: 10px;
    font-weight: bold;
    color: black;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}



.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.status {
    float:right;
}

.value-change {
    transition: background-color 0.26s linear 0s;
}
.value-change[class*="-add"] {
    background-color: red;
}